.sidenav {
  /* background: #002134; */
  background: #ffffff;
  box-shadow: 0px 5px 16px 0px rgba(128, 170, 69, 0.06);
  transition: all 1s ease-in-out !important;
  position: fixed;
  z-index: 5;
  width: 0rem;
  height: calc(100%);
}

.sidenav .logo-container {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  padding: 0.5rem 0 0 0;
  width: 100%;
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-container > button {
  margin-left: 0.85rem;
}

.logo-container .logo {
  text-align: center;
  width: 8rem !important;
  /* min-width: 8rem; */
  border-radius: 0.313rem;
  padding: 0.5rem;
  font-size: 24px;
  font-weight: 900;
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-container .logo-text {
  margin-left: 1.5rem;
  font-size: 24px;
  font-weight: 700;
  color: #080000;
}

.logo-container .btn-close {
  margin-left: auto;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: red;
  border: none;
}

.logo-container .toggle-sidenav {
  margin-left: 12rem;
  cursor: pointer;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  border: 0;
  box-shadow: 0.063rem 0 0.25rem 0 #8690a3;
  z-index: 20;
}

.logo-container .toggle-closed {
  margin-left: 1.3rem;
  cursor: pointer;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  border: 0;
  box-shadow: 0.063rem 0 0.25rem 0 #8690a3;
  z-index: 20;
}

.toggle-sidenav > span {
  margin-top: 1px;
}

.sidenav-collapsed {
  width: 17.5rem;
  transition: all 0.5s ease;
}

.sidenav-nav {
  list-style: none;
  /* padding: 0.938rem 0.938rem 4.375rem 0.938rem; */
  padding: 1rem 1.5rem;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100% - 5rem);
  cursor: pointer;
  transition: all 0.5s ease;
}

.sidenav-nav .sidenav-nav-item {
  width: 100%;
  margin-bottom: 0.625rem;
}

.sidenav-nav-item .sidenav-nav-link {
  width: 100%;
  padding: 10px 10px 10px 4px;
  align-items: flex-start;
  gap: 4px;
  display: flex;
  align-items: center;
  height: 3rem;
  color: #aaaaaa;
  text-decoration: none;
  transition: all 0.3s ease;
}

.sidenav-nav-link .sidenav-link-icon {
  font-size: 22px;
  width: 2rem;
  min-width: 2rem;
  margin: 1rem 0.5rem 0.5rem 0rem;
  text-align: center;
}
.icons {
  color: rgb(231, 3, 3) !important;
}
.sidenav-nav-link .sidenav-link-text {
  margin-left: 1rem;
  color: #414a53;
  font-family: Poppins, sans-serif !important;
  font-size: 14px;
  font-style: normal;
  font-weight: 550 !important;
  line-height: normal;
}

.active {
  background-color: #2196f3;
  color: #000000 !important;
  border-radius: 8px;
  width: 100%;
  font-family: Poppins, sans-serif !important;
  font-size: 14px;
  font-weight: 550 !important;
  line-height: 20px;
  /* letter-spacing: -0.02em; */
  text-align: left;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 500, "GRAD" 0, "opsz" 40;
  color: #757575;
}

.nav-open-color[_ngcontent-wvu-c151] {
  background: #34dbbd;
  border-radius: 10px;
}

.sublevel-nav {
  list-style: none;
}

.sublevel-nav .sublevel-nav-item {
  display: flex;
  align-items: center;
  height: 2rem;
  color: #898989;
  text-decoration: none;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
}

.sublevel-nav-item a {
  text-decoration: none;
  color: #aaaaaa;
}

  .sublevel-nav-item:hover {
    background-color: #80bdef;
    
  }

  .sublevel-nav-item:hover .sublevel-link-text {
    color: white !important;
  }

.sublevel-nav-item .sublevel-link-text {
  margin-left: 1.8rem;
  color: #414a53;
  font-family: Poppins, sans-serif !important;
  font-size: 14px;
  font-style: normal;
  font-weight: 550 !important;
  line-height: normal;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  color: #414a53 !important;
}

.img-logo {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 400%;
  height: 150%;
}

.pl-2 {
  padding-left: 23px !important;
}

li.sidenav-nav-item {
  position: relative;
}
li.sidenav-nav-item.active {
  position: relative;
  background-color: #8146ff33;
}

li.sidenav-nav-item > a {
  transition: background-color 0.3s;
}

li.sidenav-nav-item:hover {
  border-radius: 4px;
  background: #f6f7fb;
}

.x {
  background-color: inherit;
}

.custome-margin {
  margin-left: 12px !important;
}

.active .sidenav-link-text {
  color: white !important;
  font-weight: 550 !important;
}

.active .material-symbols-outlined {
  color: white !important;
}

.active .sublevel-link-text {
  color: white;
}


@media (max-width: 1080px) {
  .sidenav-nav {
    padding: 1rem 1.25rem;
    transition: all 0.5s ease-in-out;
  }

  /* .logo {
    display: none;
  } */
}
